#main {
  text-align: left;
  justify-items: auto;
}

.jobs {
  padding: 7rem 20% 7.5625rem 20%;
}

.jobs h3 {
  margin-bottom: 1rem;
  font-size: 3em;
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 2fr) 1fr;
  align-items: flex-end;
  margin: 1em 5em 5em 1em;
}

#main form .button {
  height: fit-content;
  padding: 10px 0;
  margin-bottom: 8px;
}

.job-list {
  background-color: #fff;
  padding: 10px 50px;
}

.job {
  border-bottom: solid 1px hsla(0, 0%, 59%, 1);
  padding: 1rem 0 2em 0;
  font-weight: 700;
}

.job h4 {
  padding-bottom: .5rem;
  font-size: 1.3em;
  line-height: 1.2;
}

#see-all-jobs {
  justify-self: center;
  margin-top: 3.6875rem;
}
